/* modalAnimation.css */

@keyframes pop {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-pop {
    animation: pop 0.25s ease-out;
}