@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  
}

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: blue-75;
  font-family: "General Sans", sans-serif;
}

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }

  /* bebas-neue-regular - latin */
  @font-face {
    font-family: "bebas-neue";
    src: url("/fonts/bebas-neue.woff2") format("woff2");
  }
}

@layer utilities {
  .border-hsla {
    @apply border border-white/20;
  }

  .nav-hover-btn {
    @apply relative ms-10 font-general text-xs uppercase text-blue-50 after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-black/60 backdrop-blur-md rounded-lg border;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .special-font b {
    font-family: "bebas-neue";
    font-feature-settings: "ss01" on;
    font-weight: lighter;
    /* Change to desired weight (e.g., 300, 400, 500, 700) */
  }

  .hero-heading {
    @apply uppercase font-bebas-neue font-black text-6xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[9rem];
  }

  .hero-heading-2 {
    @apply uppercase font-bebas-neue font-black text-6xl sm:right-10 sm:text-5xl md:text-7xl lg:text-[7rem];
  }


  .about-subtext {
    @apply absolute bottom-[-85dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center font-circular-web text-lg md:max-w-[34rem];
  }

  .about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white sm:px-32 md:text-[7rem] pb-[120px];
  }

  .animated-word {
    @apply special-font font-bebas-neue font-black opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }

  .bento-tilt_1 {
    @apply relative border-hsla col-span-2 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .bento-tilt_2 {
    @apply relative col-span-1 row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .bento-title {
    @apply uppercase md:text-6xl text-4xl font-normal font-bebas-neue;
  }

  .bento-title-dark {
    @apply uppercase md:text-6xl text-black text-4xl font-normal font-bebas-neue;
  }

  .story-img-container {
    @apply relative h-[70vh] w-full lg:h-dvh;
    filter: url("#flt_tag");
  }

  @media (min-width: 1024px) {
  .story-img-mask {
    @apply absolute top-0 left-1/2 transform -translate-x-1/2 w-full h-full overflow-hidden;
    @apply lg:w-[40rem] lg:h-[22rem] lg:-top-[5rem];
  }
}


  .story-img-content {
    @apply absolute w-full h-auto opacity-100 left-5 -top-[3rem];
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
    @apply md:left-10 md:-top-[6rem];
    @apply lg:w-full lg:h-auto lg:left-0 lg:top-[30rem];
    @apply xl:left-0 xl:top-0;
  }


  .gallery-img-container {
    @apply size-64 overflow-hidden bg-violet-300;
  }

  .gallery-img {
    @apply size-full bg-cover;
  }

  .gallery-img-4 {
    @apply sm:size-80 md:h-96 md:w-[25rem] rounded-lg;
  }

  .sword-man-clip-path {
    clip-path: polygon(20% 50%, 95% 35%, 75% 100%, 0 97%);
  }

  .contact-clip-path-1 {
    clip-path: polygon(15% 0%, 80% 10%, 70% 80%, 34% 93%);
  }

  .contact-clip-path-2 {
    clip-path: polygon(15% 0%, 80% 10%, 70% 80%, 34% 93%);
  }

  .font-bebas-neue {
    font-family: "bebas-neue", sans-serif;
  }


}

.indicator-line {
  @apply h-2 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }

  50% {
    height: 16px;
    transform: translateY(-4px);
  }

  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}


/* From Uiverse.io by G4b413l */
/* https://uiverse.io/G4b413l/tidy-walrus-92 */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #3fabd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes rise {
  0% {
    transform: translateY(50px) rotate3d(1, 1, 0, 150deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0) rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}

.animate-rise {
  animation: rise 0.6s ease-out forwards;
}

@keyframes fall {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

.animate-fall {
  animation: fall 0.1s ease forwards;
}

.animate-delay-0 {
  animation-delay: 0.1s;
}

.animate-delay-1 {
  animation-delay: 0.2s;
}

.animate-delay-2 {
  animation-delay: 0.3s;
}

.animate-delay-3 {
  animation-delay: 0.4s;
}

.animate-delay-4 {
  animation-delay: 0.5s;
}

.scroll-float {
  overflow: hidden;
}


.char {
  display: inline-block;
}

.card-3d {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.card-3d:hover {
  transform: scale(0.97) rotateX(5deg) rotateY(-5deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
}



.transition-row{
  flex:1;
  display:flex;
}

.transition-row row-1 block{
  transform-origin:top;


}

.transition-row row-2 block{
  transform-origin: bottom;

}

.block{
  flex:1;
  background-color: #7dd4ef;
  transform:scaleY(1);
  will-change:transform;
}



/* Added additional css code */
@media (hover: hover) {
  .can-hover\:block {
    display: block !important;
  }
  .can-hover\:hidden {
    display: none !important;
  }
}
@media (hover: none) {
  .can-hover\:block {
    display: none !important;
  }
  .can-hover\:hidden {
    display: block !important;
  }
}


.animated-title_joinus {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white sm:px-32 md:text-[7rem] pb-[20px];
  }

 .about-subtext_joinus {
  margin-top:20rem;
  @apply w-full max-w-96 text-center font-circular-web text-lg md:max-w-[68rem];
}
